In [8]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load the dataset
data = pd.read_csv(url)

# Check for missing values
missing_values = data.isnull().sum()

# Display the missing value count
print(missing_values)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Summary of Interaction**

**Objective:**
The goal was to find an interesting dataset with missing values available online through a URL link to a CSV file.

**Datasets Provided:**

1. **Jeopardy Questions Dataset**
   - **Initial Link:** [Jeopardy Questions](https://github.com/ankit21893/Jeopardy-Questions/blob/master/dataset.csv)
   - **Issue:** The provided link was a GitHub page link, not a direct link to the raw CSV file, resulting in a 404 error.
   - **Correction:** Provided an alternative link which was also found to be broken.

2. **Netflix Movies and TV Shows Dataset**
   - **Initial Link:** [Netflix Movies and TV Shows](https://raw.githubusercontent.com/shivamb/netflix-shows/master/netflix_titles.csv)
   - **Issue:** This link also proved to be inaccessible, resulting in a 404 error.

3. **Alternative Datasets:**
   - **Iris Dataset:** [Iris Dataset](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv)
     - **Issue:** Verified that this dataset does not have missing values.
   - **Titanic Dataset:** [Titanic Dataset](https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv)
     - **Has Missing Values:** Multiple columns including `Age`, `Cabin`, and `Embarked` contain missing values.
   - **Wine Quality Dataset:** [Wine Quality Dataset](https://raw.githubusercontent.com/selva86/datasets/master/winequality-red.csv)
     - **Issue:** Verified that this dataset does not have missing values.
   - **COVID-19 Dataset:** [COVID-19 Dataset](https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv)
     - **Issue:** Verified that this dataset is typically complete with no missing values.
   - **House Prices Dataset:** [House Prices Dataset](https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv)
     - **Has Missing Values:** Contains some missing values in various columns.
   - **Air Quality Dataset:** [Air Quality Dataset](https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv)
     - **Has Missing Values:** Includes missing values in the time series data.

**Conclusion:**
After reviewing several datasets, the **Titanic Dataset** and the **House Prices Dataset** were confirmed to contain missing values and are suitable for analysis involving missing data. These datasets are available online and meet the requirement of having missing values.

Chat history with Chatgpt:
https://chatgpt.com/share/c70cca85-93ad-467e-8781-24a3bd9b9d26

Here are some more data analysis:

In [9]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data = pd.read_csv(url)

# Display summary statistics for numerical columns
print("Summary Statistics:")
print(data.describe(include='all'))  # include='all' to summarize both numerical and categorical data

# Display value counts for categorical columns
print("\nValue Counts for Categorical Columns:")
for column in data.select_dtypes(include=['object']).columns:
    print(f"\n{column}:")
    print(data[column].value_counts())

Summary Statistics:
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

Value Counts for Categorical Columns:

Name:
Name
Braund, Mr. Owen Harris                     1
Boulos, Mr. Hanna                           1
Frolicher-Stehli, Mr. Maxmillian            1
Gilinski, Mr. Eliezer                       1
Murdlin, Mr. Joseph                         1
                                           ..
Kelly, Miss. Anna Katherine "Annie Kate"    1
McCoy, Mr. Bernard                          1
Johnson, Mr. William Cahoone Jr             1
Keane, Miss. Nora A                         1
Dooley, Mr. Patrick                         1
Name: count, Length: 891, dtype: int64

Sex:
Sex
male      577
female    314
Name: count, dtype: int64

Ticket:
Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64

Cabin:
Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

Embarked:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64